/* line 5, ../../app/sass/action-bar.scss */

.navbar-default .navbar-header button.btn {
  background-color: transparent;
}

/* line 8, ../../app/sass/action-bar.scss */

.navbar-default .navbar-header button.btn:hover,
.navbar-default .navbar-header button.btn:focus {
  outline: none;
}

/* line 12, ../../app/sass/action-bar.scss */

.navbar-default .navbar-header button.btn:active {
  box-shadow: none;
  background-color: #26b837;
}

/* line 21, ../../app/sass/action-bar.scss */

#action-bar-givit-list-search-button {
  font-size: 25px;
  padding-top: 9px;
  color: #FFF;
}