@import 'sass-bootstrap/lib/variables';

.user-details{

	.checkbox {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #22FF22;
		margin-left: 0px;

  		@media (min-width: $grid-float-breakpoint) {
  			// padding-top: 20px;
		}
  	}
}