.form-inline-always .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline-always .form-control {
  display: inline-block;
}
.form-inline-always .radio,
.form-inline-always .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.form-inline-always .radio input[type="radio"],
.form-inline-always .checkbox input[type="checkbox"] {
  float: none;
  margin-left: 0;
}
