@import '_variables-bootstrap.scss';

$nav-drawer-breakpoint: 15000px;
$deckgrid-card-gap: 8px;
$deckgrid-card-border-radius: $border-radius-base;
$deckgrid-card-bg: #FFF;
$deckgrid-card-border: 1px solid #DDD;