@import "_variables.scss";

.feedback {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 5px 15px;
  // -moz-animation-duration: 0.3s;
  // -ms-animation-duration: 0.3s;
  animation-duration: 0.3s;
  display: none;
}