@import 'variables';
@import 'sass-bootstrap/lib/bootstrap';

.content-area{
	padding-top: 65px;
}

.radio, .checkbox{
	border-radius: 4px;
}

.switch{
	border: 1px solid #CCC;
	border-radius: $border-radius-base;

	+ label{
		vertical-align: super;
		font-weight: normal;
	}

	.switch-left{
		background-color: $brand-primary;
	}
}

.modal-header .close {
  margin-top: -10px;
}