@import 'variables';
@import 'sass-bootstrap/lib/bootstrap';

.content-area{
	padding-top: 65px;
}

.radio, .checkbox{
	border-radius: 4px;
}

.switch{
	border: 1px solid #CCC;
	border-radius: 4px;

	+ label{
		vertical-align: super;
	}
}