@import 'sass-bootstrap/lib/variables';

.user-details{

	.checkbox {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #22FF22;
		padding-left: 25px;

  		@media (min-width: $grid-float-breakpoint) {
  			// padding-top: 20px;
		}
  	}

  	button[type="submit"]{
  		width: 100%;
  	}
}