@import 'variables';

.user-details{

	.checkbox {
		padding-left: 0;
		/* padding-top: 10px;
		padding-bottom: 10px;
		background-color: #F8971D;
		padding-left: 25px;
		color: #FFF; */

  		@media (min-width: $grid-float-breakpoint) {
  			// padding-top: 20px;
		}
  	}

  	button[type="submit"]{
  		width: 100%;
  	}
}

#user-details-terms-of-participation{
	width: 240px;
}