$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$body-bg: #EEE;
$icon-font-path: "../bower_components/sass-bootstrap/fonts/";
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$brand-primary: #729BC7;
$brand-warning: #F8971D;
$navbar-default-bg: #29C53B;
$navbar-default-color: #FFF;
$navbar-default-brand-color: #FFF;
// $navbar-default-link-color: #FFF;
$navbar-default-toggle-icon-bar-bg: #FFF;

$nav-drawer-breakpoint: 15000px;


$deckgrid-card-gap: 8px;
$deckgrid-card-border-radius: $border-radius-base;
$deckgrid-card-bg: #FFF;
$deckgrid-card-border: 1px solid #DDD;

@import 'sass-bootstrap/lib/variables';