@import "../bower_components/sass-bootstrap/lib/_variables.scss";

.tour.popover {
  .popover-title {
    padding: 2px 10px;
    h2, h3, h4, h5, h6 {
      margin: 9px 0;
    }
    h2 {
      font-size: $font-size-h2;
    }
    h3 {
      font-size: $font-size-h3;
    }
    h4 {
      font-size: $font-size-h4;
    }
    h5 {
      font-size: $font-size-h5;
    }
    h6 {
      font-size: $font-size-h6;
    }
  }
  .popover-content {
    // padding-bottom: 0;
 
  }
  .popover-navigation {
    padding-top: 0;
  }
}

.tour-step-background {
  // $darkenedBgColor: darken($navbar-default-bg, 10%);
  background: rgba(255, 255, 255, 0.1);
  // background: rgba(red($darkenedBgColor), green($darkenedBgColor), blue($darkenedBgColor), 0.3);
}

/* 
.tour-backdrop {
  z-index: 1030;
}

.tour-step-backdrop {
  z-index: 1031;
}


.popover[class*="tour-"] {
  z-index: 1030;
} */