
<div class="user-details container">
  <form id="user-details-form" role="form" ng-controller="UserDetailsCtrl">
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="user-details-field-given-names">Given Name(s)</label>
        <input id="user-details-field-given-names" type="text" name="Firstname" placeholder="Joe" required="required" ng-model="user.Firstname" class="form-control"/>
      </div>
      <div class="form-group col-sm-6">
        <label for="user-details-field-family-name">Family Name</label>
        <input id="user-details-field-family-name" type="text" name="Surname" placeholder="Bloggs" required="required" ng-model="user.Surname" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="user-details-field-phone">Phone (Landline or Mobile)</label>
        <input id="user-details-field-phone" type="tel" name="ContactNumber" placeholder="(+61) 0400 420 007 or 37 236 198" required="required" ng-model="user.ContactNumber" class="form-control"/>
      </div>
      <div class="form-group col-sm-4">
        <label for="user-details-field-email">Email address</label>
        <input id="user-details-field-email" type="email" name="EmailAddress" placeholder="joe.bloggs@gmail.com" required="required" ng-model="user.EmailAddress" class="form-control"/>
      </div>
      <div class="form-group col-sm-4">
        <label for="user-details-preferred-contact-method">Preferred contact method</label>
        <select id="user-details-preferred-contact-method" name="PreferredContactMethod" required="required" ng-model="user.PreferredContactMethod" class="form-control">
          <option value="">Please select a preferred contact method</option>
          <option value="Email">Email</option>
          <option value="Phone">Phone</option>
          <option value="Phone or email">Phone or email</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="user-details-field-state">State</label>
        <select id="user-details-field-state" name="State" required="required" ng-model="user.State" class="form-control">
          <option value="">Please select the state in which you reside</option>
          <option value="QLD">QLD</option>
          <option value="ACT">ACT</option>
          <option value="NSW">NSW</option>
          <option value="VIC">VIC</option>
          <option value="TAS">TAS</option>
          <option value="WA">WA</option>
          <option value="SA">SA</option>
          <option value="NT">NT</option>
        </select>
      </div>
      <div class="form-group col-sm-4">
        <label for="user-details-field-postcode">Postcode</label>
        <input id="user-details-field-postcode" type="text" name="Postcode" placeholder="4718" pattern="d*" minlength="4" maxlength="4" required="required" ng-model="user.Postcode" class="form-control"/>
      </div>
      <div class="form-group col-sm-4">
        <label for="user-details-field-suburb">Suburb</label>
        <input id="user-details-field-suburb" type="text" name="Suburb" placeholder="Yelpsville" required="required" ng-model="user.Suburb" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <toggle-switch id="user-details-field-terms-of-participation" model="user.TermsOfParticipation" on-label="Yes, I agree" off-label="No, I don't agree" required="required"></toggle-switch>
        <label>to all <a data-toggle="modal" data-target="#termsOfParticipationModal" href="">Terms of Participation*</a></label>
      </div>
    </div>
  </form>
</div>