<div class="about container">
    <h3>About GIVIT</h3>
    <p>GIVIT was established in 2009 by Juliette Wright and is run predominantly by a team of dedicated volunteers.</p>
    
    <p>Our core purpose is to match those who need with those willing to give.</p>
    
    <p>We facilitate the transfer of quality goods to reach those within our community who are vulnerable or marginalised, in a safe and confidential manner. Our outcome is measured by our ability to meet the needs of our community in an efficient and easy manner.</p>

    <p>GIVIT is dedicated to connecting our community, improving the quality of people's lives, while supporting over 780 approved services who work on the front line. These include domestic violence shelters, homelessness networks, child safety charities, youth at risk agencies and many others.</p>

    <p>Above all, we aim to preserve the dignity and promote the well-being of GIVIT recipients. We strictly adhere to the Privacy Act 1988, and ensure that the anonymity of the recipients is preserved.</p>

    <p>GIVIT is also endorsed by the Queensland Government to partner with the Australian Red Cross in Disaster Recovery.</p>
</div>