<nav class="navbar navbar-default navbar-fixed-top action-bar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Navigation Drawer</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Givit</a>
    </div>
    <div class="navbar-collapse collapse nav-drawer">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Givit List</a></li>
        <li><a href="#">Givit Warehouse</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Right</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>