<nav class="navbar navbar-default navbar-fixed-top action-bar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="btn navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Navigation Drawer</span>
        <span class="btn pull-left">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </span>
        <span class="logo pull-left"></span>
        <span class="navbar-brand">Givit</span>
        </button>
    </div>
<nav-drawer></nav-drawer>
</nav>