.donate-item.container
  form#donate-item-form(role='form', ng-controller='DonateItemCtrl')
    .row
      .form-group.col-xs-3.col-sm-2
        label(for='donate-item-field-qty') Qty.
        input#donate-item-field-qty.form-control(type='text', name='Qty', placeholder='2', required='required', ng-model='item.qty')
      .form-group.col-xs-9.col-sm-5
        label(for='donate-item-field-short-description') Short Description
        input#donate-item-field-short-description.form-control(type='text', name='ShortDescription', placeholder='Queen sized blankets', required='required', ng-model='item.shortDescription')
      .form-group.col-xs-12.col-sm-5
        label(for='donate-item-field-photo') Photo
        input#donate-item-field-photo.form-control(type='file', name='Photo', required='required', ng-model='item.photo')
    .row
      .form-group.col-sm-6
        label(for='donate-item-field-condition') Condition
        select#donate-item-field-condition.form-control(name='Condition', required='required', ng-model='item.condition')
          option(value='') Please select a condition
          option(value='New') New/As new
          option(value='Used') Gently used
          option(value='Older') Older, but excellent
      .form-group.col-sm-6
        label(for='donate-item-field-hold-duration') I will hold this item for
        select#donate-item-field-hold-duration.form-control(name='HoldDuration', required='required', ng-model='item.holdDuration')
          option(value='') Please select a duration
          option(value='QLD') One month
          option(value='ACT') Two months
          option(value='NSW') Three months
    .row
      .form-group.col-xs-12
        label(for='donate-item-field-comment') Comments
        textarea#donate-item-field-comment.form-control(rows='3', name='Comments', placeholder='What kind of comments are we looking for?', ng-model='item.comments')
    .row
      .form-group.col-xs-12
        toggle-switch#donate-item-field-can-drop-off(model='item.canDropOff', on-label='Yes, I can', off-label='No, I can\'t')
        label drop this item off to a charity in my area
    .row
      .form-group.col-xs-12
        toggle-switch#donate-item-field-can-post-aus-wide(model='item.canPostAusWide', on-label='Yes, I can', off-label='No, I can\'t')
        label post this item Australia-wide
    .row
      .form-group.col-xs-12
        toggle-switch#donate-item-field-prefer-charity-collection(model='item.preferCharityCollection', on-label='Yes, I would', off-label='No, I wouldn\'t')
        label prefer the charity to collect this item
    .row
      .col-xs-12
        button.btn.btn-primary(type='submit') Save