<div id="giveItemConfirmationModal" class="give-item-confirmation-modal modal fade" ng-controller="GiveItemCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{item.ItemName}} <small class="location">{{item.Location}}</small></h4>
            </div>
            <div class="modal-body">
                <small>{{item.DeliveryMethods.join(', ')}}</small>
                <p>{{item.Recipient}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="give()">Give</button>
            </div>
        </div>
    </div>
</div>