<div ng-controller="GivitListCtrl" class="givit-list deckgrid deckgrid-cols-xs-2 deckgrid-cols-sm-3 deckgrid-cols-md-4 deckgrid-cols-lg-5" deckgrid source="items" infinite-scroll="myPagingFunction()" infinite-scroll-distance="3" infinite-scroll-disabled='isLoadingItems'>
    <div class="givit-list-item deckgrid-card clearfix">
        <!-- <div class="card-img" ng-if="true">
            <img ng-src="images/givit-list-items/{{card.GUID}}.jpg" />
        </div> -->
        <div class="card-content">
            <h4>
            <span>{{card.ItemName}}</span>
            <small>{{card.Location}}</small>
            <small>{{card.DeliveryMethods.join(', ')}}</small>
            </h4>
            <p>{{card.Recipient}}</p>
        </div>
        <div class="card-actions clearfix">
            <a href="#/give-item/{{card.GUID}}" class="btn btn-primary pull-right">Give</a>
        </div>
    </div>
    <div ng-show='isLoadingItems'>Loading more items...</div>
</div>