<div id="givit-list-search-form-container" class="navbar-collapse collapse" ng-controller="GivitListCtrl" ng-show="currentRouteIs('views/givit-list.html')">
    <form role="form" id="givit-list-search-form" class="form-inline-always pull-right">
        <div id="givit-list-search-field-container-km" class="form-group">
            <label for="givit-list-search-field-km">Within {{search.km | number}}</label>
            <input type="number" min="1" max="9999" class="form-control" id="givit-list-search-field-km" name="Km" placeholder="2" required ng-model="search.km">
        </div>
        <div id="givit-list-search-field-container-postcode" class="form-group">
            <label for="givit-list-search-field-postcode">Km of postcode: {{search.postcode}}</label>
            <input type="text" class="form-control" id="givit-list-search-field-postcode" name="Postcode" placeholder="4718" pattern="[0-9]{4}" minlength="4" maxlength="4" required ng-model="search.postcode">
        </div>
        <div class="form-group search-btn-container">
            <button class="search-btn btn btn-primary"><span class="glyphicon glyphicon-search"></span><span class="btn-text">Search</span></button>
        </div>
    </form>
</div>