<div class="givit-list" ng-controller="GivitListCtrl">
    <div ng-repeat="item in items" class="givit-list-item col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="col-xs-12">
            <h4>
            <span>{{item.name}}</span>
            <small>{{item.location.suburb}}, {{item.location.state}}, {{item.location.postcode}}</small>
            <small>{{item.deliveryMethods.join(', ')}}</small>
            </h4>
            <p class="line-clamp">{{item.recipient}}</p>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary">Give</button>
        </div>
    </div>
</div>