#navigation-drawer.nav-drawer.animated.fadeOutLeft(ng-controller='NavDrawerCtrl')
  ul.nav.navbar-nav
    //-
       <li ng-class="{ active: isActive('/user-details')}" class="banner user-details">
          <a href="/user-details" class="clearfix">
          <img ng-src="images/users/{{user.guid}}/user-avatar.png" class="pull-left" />
          <div class="pull-left">
              <div class="user-name">{{user.givenNames}} {{user.familyName}}</div>
              <div class="user-email">{{user.email}}</div>
          </div>
          </a>
        </li> 
    li(ng-class='{ active: isActive(\'/\') || isActive(\'/givit-list\')}')
      a(href='#/givit-list', ng-click='hideNavDrawer()') Givit List
    li(ng-class='{ active: isActive(\'/donate-item\')}')
      a(href='#/donate-item', ng-click='hideNavDrawer(); redirectIfNoUserMinimalDetails($event)') Donate Item
    li(ng-class='{ active: isActive(\'/user-details\')}')
      a(href='#/user-details', ng-click='hideNavDrawer()') My Details
    li(ng-class='{ active: isActive(\'/about\')}')
      a(href='#/about', ng-click='hideNavDrawer()') About